/* 1 STEP : box sizing and lobotimized owl */
:root {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body *+* {
    margin-top: 1.5em;
}

/* 2 STEP : generic styling rules */

body {
    background: #bbb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin-bottom: 1.5em;
}

header,
footer {
    background-color: #1da3bd;
    padding: 1.5em;
    color: #fff;
}

main {
    background: #fff;
    padding: 0 1.5em 1.5em 1.5em;
}

header,
footer,
main {
    border-radius: 10px;
}

article {
    background-color: #dedede;
    padding: 1.5em;
    float: left;
    margin: 0 1.5em 1.5em 0;
    width: calc(50% - 1.5em);
}
article h4 {
    margin: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/*questo serve a "pulire" il codice dopo aver utilizzato il float*/

section::after {
    display: block;
    content: "";
    clear: both;
}

section {
    margin-right: -1.5em;
    margin-bottom: -1.5em;
}

section::before {
    display: table;
    content: "";
}

.articles> :nth-child(2n+1) {
    clear: left;
}

.articles img {
    float: left;
    margin: 0 1.5em 1.5em 0;
}

.articles .article-body {
    overflow: auto;
}