body {
    background-color: rgba(249, 154, 87, 0.826);
    font-family: 'Cormorant', serif;
    font-size: x-large;

}

.card_1 {
    color: whitesmoke;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    margin: left;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card_2 {
    color: whitesmoke;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    margin: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 20px;

}