* {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    margin: 5px;
    padding: 5px;
}

p {
    margin: 25px;
    font-size: 1.2vw;
}

#unico {        /*id è unico e non si può ripete*/
    color: red 
}

.unica {
    color: blue;
    margin:unset;
    padding: unset;
}
.testo_del_sito {
    margin: 15px;
    font-size: 1.2vw;
    font-family: 'Times New Roman', Times, serif;
}